<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298229783071-9a7c1vm4c8tm3h5rt7rth6oj35mts6o6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298229783071-9a7c1vm4c8tm3h5rt7rth6oj35mts6o6</string>
	<key>API_KEY</key>
	<string>AIzaSyA6cspRcCSCEj2Jp_SNa8vtmNk4ppAs1XM</string>
	<key>GCM_SENDER_ID</key>
	<string>298229783071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.plugins.firebase.firestoreExample</string>
	<key>PROJECT_ID</key>
	<string>e-wallet-58a69</string>
	<key>STORAGE_BUCKET</key>
	<string>e-wallet-58a69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298229783071:ios:71fccf4ea80246b4d6132a</string>
</dict>
</plist>